.title {
    text-align: center;
}

.images {
    display: flex;
    gap: 10px;
}
.images--item {
    border-radius: 8px;
}
.text {
    margin-top: 20px;
}
.lista {
    margin-bottom: 20px;
}
.resaltado {
    font-weight: bold;
}