<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Prueba.UI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/listadocursos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cursos
            </NavLink>
        </div>        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/listadoestudiantes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Estudiantes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/listadoinscripciones">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Inscripciones
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/estudiantesconcursoactivo">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Estudiantes activos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/estudiantesconcursoterminado">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Estudiantes egresados
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cursos">
                <span class="oi oi-plus" aria-hidden="true"></span> Agregar Curso
            </NavLink>
        </div>        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="estudiantes">
                <span class="oi oi-plus" aria-hidden="true"></span> Agregar Estudiante
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inscripciones">
                <span class="oi oi-plus" aria-hidden="true"></span> Agregar Inscripcion
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
