@page "/cursos/{Id:int?}"

@inject NavigationManager Navegador;
@inject AgregarCursoUseCase AgregarCursoUseCase
@inject ObtenerCursoUseCase ObtenerCursoUseCase
@inject ModificarCursoUseCase ModificarCursoUseCase

@if (_esNuevoCurso)
{
    <h3>Agregando un nuevo curso</h3>
}
else
{
    <h3>Modificando el curso de "@_curso.Titulo"</h3>
}

<input placeholder="Título" @bind="_curso.Titulo" class="form-control">
<input placeholder="Fecha Inicio" @bind="_curso.FechaDeInicio" class="form-control">
<input placeholder="Fecha Fin" @bind="_curso.FechaDeFin" class="form-control">
<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>

@code {
    Curso _curso = new Curso();
    [Parameter] public int? Id { get; set; }
    bool _esNuevoCurso = true;
    protected override void OnParametersSet()
    {
        if (Id != null)
        {
            var cur_hallado = ObtenerCursoUseCase.Ejecutar(Id.Value);
            if (cur_hallado != null)
            {
                _curso = cur_hallado;
                _esNuevoCurso = false;
            }
        }
    }
    void Aceptar()
    {
        if (_esNuevoCurso)
        {
            AgregarCursoUseCase.Ejecutar(_curso);
        }
        else
        {
            ModificarCursoUseCase.Ejecutar(_curso);
        }
        _curso = new Curso();
        Navegador.NavigateTo("/listadocursos");
    }
}