@page "/errordevalidacion"

<h1 class="title">ERROR DE VALIDACIÓN</h1><br><br>
<h3 class="disclaimer">Tanto el estudiante como el curso deben estar registrados para que la inscripción sea válida. Verifique los datos y vuelva a intentarlo.</h3>